.cell {
  height: 40px;
  width: 40px;
  color: white;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  &.black {
    background: black;
  }
  &.green{
    background: green;
  }
  &.cursor-pointer {
    cursor: pointer;
  }
  &.red {
    background: red;
  }
  &.gold {
    background: gold;
  }
}
.cell-wrapper{
  position: absolute;
}